{% extends 'model1/base.html' %}

{% block content %}
    <div class="page-name" id="about"></div>

    <div class='block leftside'>
      <br>
      <h1>About</h1>
      <br><br>
      <p>This is the final project for the <a target="_blank" href="http://data.cmubi.org/">Interactive Data Science</a> course at CMU, Spring 2017. <br>The team consists of Shao Ting Huang, Wendy Wei, Shaoqian Yang, and <a target="_blank" href="http://vidazhang.com/">Vida Zhang</a>.</p>
      <p>The goal for this project is to help tourists decide where and when to go to have fun in Las Vegas by answering following questions:<br>
Which neighborhood has higher/lower rating bars?<br>
Which neighborhood has relatively high/low customer volume?</p>
      
      
      <br><br>
      <h2 class='green-text'>Product</h2>
      <br>
      <p> Our targeted customers are visitors in Las Vegas. According to Las Vegas visitor statistics, there are more than 40 million people who visit Las Vegas each year. Our team used Yelp data to offers an interactive map as well as a recommendation system to help users to decide where and when to have fun.<br>
      Interactive map shows: <br>
      Selected type of businesses opening at selected hours<br> 
      Selected type of businesses’ customer volume at selected hour<br>
      Recommendation system uses:<br>
      Collaborative filtering machine learning algorithm to recommend 5 businesses for users based on their previous ratings.<br>

</p>
      
      
    </div>



<!--Sidenav-->
<script>
    //get current page name
    var cur_page = $('.page-name').attr('id');

    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "305px";
        $('#' + cur_page).addClass('red-text');
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("main").style.marginLeft = "55px";
    }

    $('#hamburger').click(function () {
        console.log('cliccc');
        openNav();
    });
    $('.closebtn').click(function () {
        closeNav();
    });


    //side nav highlight 
    $('#mySidenav').on('click', '*', function () {
        $('#mySidenav>a.red-text').removeClass('red-text');
        if ($(this).hasClass('closebtn')) {
        } else {
            $(this).addClass('red-text');
            var cur_page = $(this).text();
        }
    });

</script>
{% endblock %}