{% extends 'model1/base.html' %}

{% block content %}
    <div class="page-name" id="about"></div>

    <div class='block '>
      <br>
      <h1>About</h1>
      <br><br>
      <p>This is the final project for the <a target="_blank" href="http://data.cmubi.org/">Interactive Data Science</a> course at CMU, Spring 2017. <br>The team consists of Shao Ting Huang, Wendy Wei, Shaoqian Yang, and <a target="_blank" href="http://vidazhang.com/">Vida Zhang</a>.</p>
    </div>



<!--Sidenav-->
<script>
    //get current page name
    var cur_page = $('.page-name').attr('id');

    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "305px";
        $('#' + cur_page).addClass('red-text');
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("main").style.marginLeft = "55px";
    }

    $('#hamburger').click(function () {
        console.log('cliccc');
        openNav();
    });
    $('.closebtn').click(function () {
        closeNav();
    });


    //side nav highlight 
    $('#mySidenav').on('click', '*', function () {
        $('#mySidenav>a.red-text').removeClass('red-text');
        if ($(this).hasClass('closebtn')) {
        } else {
            $(this).addClass('red-text');
            var cur_page = $(this).text();
        }
    });

</script>
{% endblock %}