{% extends 'model1/base.html' %}
<!--{% load static %}-->
{% block content %}
    <div class="page-name" id="data"></div>


    <div class='block leftside'>
      <br>
      <h1>Data Overview</h1>
      <br><br>
      <p>Our team chose dataset from Yelp Dateset Challenge to study the ratings and customer volume for Las Vegas attractions. There are total of 6 tables in these dataset. Our team mainly focused on business, check-ins and user tables. 
</p>

      
      
      <br><br>
      <h2 class='green-text'>Data Completeness</h2>
      <br>
      <p> Our business table comprised of 22,892 businesses in Las Vegas and 16 variables, which had less than 1% mismatched and 4% missing values.
</p>
        <br>
        <img style='height: 100px; display:inline-block; margin-top:10px;margin-left:8px; margin-bottom:10px' src="{% static 'model1/assets/completeness.png' %}" >
      
      

    <br><br>
          <h2 class='green-text'>Data Coherence</h2>
          <br>
          <p> The graph below indicates a strong correlation between time of day and the customer volumes for all 8 types of businesses. Not suprisingly we found that the busiest hour in Vegas is between 1-3 am while the down time is around noon time. 
    </p>
            <br>
            <img style='height: 400px; display:inline-block; margin-top:10px;margin-left:8px; margin-bottom:10px' src="{% static 'model1/assets/coherence.png' %}" >
    <br><br>
          <h2 class='green-text'>Data Correctness</h2>
          <br>
          <p> The data was taken from Yelp Data Challenge and was released by Yelp. We believe the data to be correct since the data comprised of various ratings, and are distributed normally.  <br>
There are some bias exists in our customer volume analysis, since the user check-ins from Yelp does not necessarily represents the true customer volume for each business. However, our map visualization allows users to compare estimated customer volume between different neighbourhoods. 
    </p>
            <br>
            <img style='height: 400px; display:inline-block; margin-top:10px;margin-left:8px; margin-bottom:10px' src="{% static 'model1/assets/correct.png' %}" >

  <br><br>
          <h2 class='green-text'>Accountability</h2>
          <br>
          <p> Since the data has been scraped from Yelp, the data set satisfies the Accountability factor.
  
    </p>
    </div>


<!--Sidenav-->
<script>
    //get current page name
    var cur_page = $('.page-name').attr('id');

    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "305px";
        $('#' + cur_page).addClass('red-text');
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("main").style.marginLeft = "55px";
    }

    $('#hamburger').click(function () {
        console.log('cliccc');
        openNav();
    });
    $('.closebtn').click(function () {
        closeNav();
    });


    //side nav highlight 
    $('#mySidenav').on('click', '*', function () {
        $('#mySidenav>a.red-text').removeClass('red-text');
        if ($(this).hasClass('closebtn')) {
        } else {
            $(this).addClass('red-text');
            var cur_page = $(this).text();
        }
    });

</script>

{% endblock %}

